@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #F4F4F4;
    font-family: "Open Sans", sans-serif;
}
/*.wrapper{
  margin: 10px;
}*/
/* navbar*/
.wrapper .top_navbar{
  width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;
  top: 0;
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  padding: 15px 17px;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: 100%;
  height: 100%;
  background: #F4F4F4 ;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .top_navbar .top_menu .logo{
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
/*sidebar*/
.wrapper .sidebar{
  position: fixed;
  top: 65px;
  left: -1px;
  width: 200px;
  height: calc(100% - 0px);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #060607;
    white-space: nowrap;
    border-radius: 12px;
}


.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #D9D9D9;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}
/*main_container*/
.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 0;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}
/*sidebar*/
.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}
/*main_container*/
.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
/*imagem do usuário*/
.form-control-custom {
    border: 2px solid #000;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
}
.form-control-custom::placeholder {
    color: #aaa;
}
.form-group label {
    position: absolute;
    background: #fff;
    padding: 0 5px;
    margin-top: -10px;
    margin-left: -150px;
    color: #000;
}
.custom-file-input {
    display: none;
}
.custom-file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ff0000;
    background-color: #ffe6e6;
    border-radius: 25px;
    padding: 20px;
    color: #ff0000;
    cursor: pointer;
    
}
.custom-file-label img {
    margin-right: 10px;
}
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #000000;
    background-color: #F4F4F4;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    height: 145px;
    margin: 0 auto;
    cursor: pointer;
}
.upload-container input[type="file"] {
    display: none;
}
.upload-container img {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}
.text-form-I{
    margin: 0;
    color: #333;
    font-family: Arial, sans-serif;
}
.text-form-II{
    margin: 0;
    text-decoration: underline;
    font-family: Arial, sans-serif;
    color: #FF1621;
}
.imguser{
    width: 446px;
    height: 256px;
    margin: 20px;
    border-radius: 12px 12px 12px 12px;
    border: 1px solid #33333333;
    background-color: #fff;
}
.imguser h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
}
.fill{
    display: flex;
    margin: 0;
}
.fill p{
    display: flex;  
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.fill img{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: flex;
}
/*Escolher os usuários*/
.user{
    width: auto;
    border: 1px solid #33333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin: 20px;
    background-color: #fff;
    border-radius: 12px;
}
.user h1{
    margin: 1rem;
}
.tipuser{
    display: flex;
    flex-flow: row wrap;

}
.tipo{
    width: 15rem;
    height: 166px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    background: #F4F4F4;
    border: 1px solid #33333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.tipo:hover{
    background: linear-gradient(301.37deg, #F4F4F4 73.06%, #E21721 199.24%);
    border: 1px solid #E21721
}
.tipo img{
    background-color: #FBFBFB;
    width: 34px;
    height: 32px;
    padding: 10px;
    border-radius: 12px;
}
main{
    display: flex;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.form-container h2 {
    text-align: center;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: auto;
}
.form-group label {
    flex: 1 1 100px;
    padding: 5px;
}
.form-group input,
.form-group select {
    flex: 2 1 200px;
    padding: 5px;
}
.form-actions {
    text-align: center;
}
.form-actions button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
/*formulario aluno*/
.detalhes{
    display: none;
    margin: 1.5rem;
    border-radius: 12px 12px 12px 12px;
    border: 1px solid #33333333;
    background-color: #FBFBFB;
   
}
.detalhes h2{
    margin: 1.5rem;
}
.detalhes span{
    margin: 1.5rem;
}
.detalhes form{
    display: flex;
    flex-flow: row wrap;
}
label {
    display: block;

    font-size: 16px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    color: #aaa;
}
.turno-container {
    margin: 20px;
}

.turno-container label {
    font-weight: bold;
    display: block;
}

.turno-options {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.turno-options input[type="radio"] {
    display: none;
}

.turno-label {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
    color: #888;
}

.turno-label:last-child {
    border-right: none;
}

.turno-options input[type="radio"]:checked + .turno-label {
    background-color: #e0e0e0;
    color: #000;
    font-weight: bold;
}
.detalhes div{
    margin: 10px;
}
.dtaname input{
    width: 356px;
    height: 45px;
}
.dtaemail input{
    width: 294px;
    height: 45px;
}
.dtara input{
    width: 294px;
    height: 45px;
}
.dtaturma input{
    width: 322px;
    height: 45px;
}
.dtasexo input{
    width: 212px;
    height: 45px;
}
.dtacor input{
    width: 212px;
    height: 45px;
}
.dtacidade input{
    width: 294px;
    height: 45px;
}
.dtarg input{
    width: 248px;
    height: 45px;
}
.dtacpf input{
    width: 284px;
    height: 45px;
   
    
}
.dtatelefone input{
    width: 294px;
    height: 45px;

}
.dtaendereco input{
    width: 390px;
    height: 45px;
  
}
.dtacomplemento input{
    width: 390px;
    height: 45px;
 
    
}
.dtapai input{
    width: 288px;
    height: 45px;
    
}
.dtamae input{
    width: 310px;
    height: 45px;
    
}
.dtaescolacursada input{
    width: 484px;
    height: 45px;
}
.dtaescolaatual input{
    width: 488px;
    height: 45px;    
}
.dtasetor input{
    width: 323px;
    height: 45px;
    
}
.dtaingresso input{
    width: 320px;
    height: 45px;
    
}
.dtaconclusao input{
    width: 301px;
    height: 45px;
 
}
.dtatrabalha input{
    width: 384px;
    height: 45px;
}
.dtasituacao input{
    width: 323px;
    height: 45px;
    
}
.button {
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.button-cancel {
    background-color: white;
    color: red;
}

.button-cancel:hover {
    background-color: #f8f8f8;
}

.button-save {
    background-color: red;
    color: white;
}

.button-save:hover {
    background-color: #cc0000;
}
/*modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-users: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}